/*NavBar*/
.navbar{max-height: 57px;}

.navigarion .navbar-brand{padding:inherit; font-weight: bold;}

.active, .dropdown-menu .dropdown-item:active a:hover{background-color: rgb(145, 145, 145)!important}

.active, .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: rgb(145, 145, 145)!important}

a{font-size: 18px;}

.nav-link:hover{background-color: rgb(145, 145, 145)!important}

.navbar-brand:hover{background-color: rgb(145, 145, 145)!important}

/*Titles*/
.title{font-family: Arial, Helvetica, sans-serif; font-weight: normal; padding-top: 20px;}

/*Images*/

img{width:100% !important;}

.active, .panel:hover{border-style: solid}

.visualization{width: 60% !important;}

/*Paragraphs*/
p{ font-family: Arial, Helvetica, sans-serif; font-size: 17px;}

.text-center{font-family: Arial, Helvetica, sans-serif; font-style: normal}

/*Boxes*/
.box{margin-top: 60px; margin-bottom: 65px; padding: 10px 20px 15px;}

/*Footer*/
.footer-copyright{font-family: Arial, Helvetica, sans-serif; background-color: rgb(238, 238, 238); position: fixed; bottom:0; width: 100%;}


/*Table*/
.table{border:1px solid rgb(211, 211, 211);}

/*Tooltip*/
.tooltip{position: relative; display: inline-block; }

/*@media*/
@media (max-width: 992px) {

    .navbar-expand-lg{background-color: white;}

    .navbar div{margin: inherit; background-color: white;}

    .navbar{max-height: none; padding: inherit;}

    .box{margin-right:20px; margin-left: 20px;}

    .navbar-brand{padding: 10px;}




}


